@* Views/Partials/ServicesSection.cshtml *@

<section class="services-section">
    <div class="container-services">
        <h2>We Provide The Solutions To Grow Your Business Faster</h2>
        <div class="services-grid">
            <div class="service-card">
                <img src="bilder\image-risk.svg" alt="Risk Management">
                <h3>Risk Management</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
            <div class="service-card">
                <img src="bilder\image-bond.svg" alt="Bonds & Commodities">
                <h3>Bonds & Commodities</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
            <div class="service-card">
                <img src="bilder\image-assurance.svg" alt="Assurance & Audits">
                <h3>Assurance & Audits</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
            <div class="service-card">
                <img src="bilder\image-tax.svg" alt="Tax and Trusts">
                <h3>Tax and Trusts</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
            <div class="service-card">
                <img src="bilder\image-financial.svg" alt="Financial Advisor">
                <h3>Financial Advisor</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
            <div class="service-card">
                <img src="bilder\image-statistic.svg" alt="Statistic Advisors">
                <h3>Statistic Advisors</h3>
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
            </div>
        </div>
    </div>
</section>
