@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model.Value("pageTitle")?.ToString();
}







<section class="projects-section">
    <div class="container-projects">
        <div class="main-content">
            <article>

           @Model.Value("contentProjectDetails")
              

            </article>  
        </div>
     
            <div class="tags">
                <h4>Tags</h4>
                <div class="tag-list">
                    <a href="#">Report</a>
                    <a href="#">Business plans</a>
                    <a href="#">Insights</a>
                    <a href="#">Business</a>
                    <a href="#">App</a>
                    <a href="#">Project</a>
                    <a href="#">Finance</a>
                    <a href="#">Pricing</a>
                </div>
            </div>
           
        </aside>
    </div>
</section>

 @await Html.PartialAsync("Partials/Static/ContactSection.cshtml")