@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model.Value("pageTitle")?.ToString();
}


 

<section class="projects-list-section">
        <div class="container-projects-list">
         
            <div class="projects-list">
                <div class="project-item">
        
                    <img src="@Model.Value("contentProjects")" >
            
       
      
 </section>
  @await Html.PartialAsync("Partials/Static/ContactSection.cshtml")