@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
      ViewBag.Title = Model.Value("pageTitle")?.ToString();
}





  
        <div class="main-content">
     
   
       
            <ul>
               
                <li>@Model.Value("mainContent")</li>
            </ul>
        </div>
    </div>
</section>

<section class="question-section">
    <div class="container-question">
        <h3>Have a question?</h3>
        <form>
            <div class="form-group">
                <input type="text" placeholder="Name" required>
                <input type="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <textarea placeholder="Question" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
    

    
 @await Html.PartialAsync("Partials/Static/ContactSection.cshtml")


    